@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Young+Serif&display=swap');
/*marrom: #654133 rosa: #CD7A98 creme:#FFF0E1*/

* {
  box-sizing: border-box; /* serve para incluir o padding e a borda dentro da largura total do elemento */
  margin: 0%; /* serve para remover a margem padrão dos elementos */
  padding: 0%; /* serve para remover o preenchimento padrão dos elementos */
}

body {
  background-color: rgb(255, 240, 225); /* serve para definir a cor de fundo da página */

}

img { /* serve para definir as propriedades das imagens */
  width: 140px;  /* Define a largura da imagem */
  /* Ajuste a largura */
  height: auto;
  /* Mantém a proporção da imagem para não amassar */
  margin-right: 20px;
  /* Dá um espaço entre a logo e a barra de busca */
}

.menu {
  display: flex;
  /*serve para centralizar os elementos*/
  background-color: rgb(205, 122, 152);
  width: 100%;
  /*Esse aqui serve para ocupar toda a largura da minha tela*/
  height: 150px;
  /*Serve para a altura*/
  justify-content: space-around;
  /* Alinha os itens horizontalmente com espaço entre eles */
  align-items: center;
  /* Alinha os itens verticalmente ao centro */
  font-family: "Young Serif", serif;
}

h1 {
  color: rgb(205, 122, 152);
  text-align: center; /* esse aqui serve para centralizar o texto*/
  margin: 80px; /* serve para criar um espaço externo ao redor do elemento */
  font-size: 40px; /* serve para definir o tamanho da fonte do texto */
  font-family: "Young Serif", serif; /* serve para definir a fonte do texto */
}



.busca input {
  width: 500px; /* serve para ajeitar a minha largura*/
  padding: 10px; /* é o meu espaço interno do meu elemento */
  border-radius: 20px; /*raio da borda do elemento do meu site*/
  border: none; /*serve para remover o sublinhado*/
  margin-bottom: 15px; /*serve para criar espaços externo abaixo do elemento*/
  background-image: url(./Imagem/Lupa.png); /*serve para colocar a imagem de fundo no meu input*/
  background-size: 18px;  /*serve para definir o tamanho da imagem de fundo*/
  background-position: right; /*serve para posicionar a imagem de fundo à direita do input*/
  background-repeat: no-repeat; /*serve para evitar que a imagem de fundo se repita*/
  font-family: "Cormorant Garamond", serif; 
  font-size: 18px; /* serve para definir o tamanho da fonte do texto dentro do input */
}

nav a {
  text-decoration: none; /* serve para remover o sublinhado dos links */
  color: rgb(255, 240, 225);
  margin: 20px;  /* serve para criar um espaço externo ao redor dos links */
  font-size: 18px; /* serve para definir o tamanho da fonte dos links */
}

label {
  color: rgb(101, 65, 51);
  font-size: 20px; /* serve para definir o tamanho da fonte do texto */
  font-family: "Young Serif", serif;
}

.dados {
  display: flex; /* serve para organizar os elementos em um layout flexível */
  flex-direction: column;  /* serve para organizar os elementos em uma coluna */
  align-items: center; /* serve para centralizar os elementos horizontalmente */
  width: 100%; /* serve para ocupar toda a largura disponível */
}

.dados input {
  width: 600px; /* serve para definir a largura dos campos de entrada */
  min-height: 25px;  /* serve para definir a altura mínima dos campos de entrada */
  padding: 12px; /* serve para criar um espaço interno ao redor do conteúdo dos campos de entrada */
  border-radius: 20px; /* serve para criar bordas arredondadas nos campos de entrada */
  margin: 20px; /* serve para criar um espaço externo ao redor dos campos de entrada */
  border: 2px solid rgb(205, 122, 152);
  outline: none; /* serve para remover a borda de foco padrão dos campos de entrada */
  font-family: "Cormorant Garamond", serif;
  font-size: 18px; /* serve para definir o tamanho da fonte do texto dentro dos campos de entrada */
}

.dados button{ /* serve para definir as propriedades do botão de login */
  width: 200px; /* serve para definir a largura do botão de login */
  padding: 12px; /* serve para criar um espaço interno ao redor do conteúdo do botão de login */
  background-color: rgb(205, 122, 152);
  color: rgb(255, 240, 225);
  border: none; /* serve para remover a borda do botão de login */
  border-radius: 20px; /* serve para criar bordas arredondadas no botão de login */
  margin-top: 10px; /* serve para criar um espaço externo acima do botão de login */
  font-family: "Young Serif", serif;
  font-size: 15px; /* serve para definir o tamanho da fonte do texto dentro do botão de login */
}

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(205, 122, 152);
  width: 100%;
  height: 150px;
  margin-top: 200px;
  align-items: center;
}

footer img {
  width: 25px;
  object-fit: cover; /* serve para garantir que a imagem seja redimensionada corretamente sem distorção */
  margin: 10px;
}

h2 {
  font-family: "Young Serif", serif;
  color:rgb(255, 240, 225);
  font-size: 25px;
  margin-top: 20px; /* serve para criar um espaço externo acima do título */
}