@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Young+Serif&display=swap');
/*marrom: #654133 rosa: #CD7A98 creme:#FFF0E1*/

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
  }
  
  body {
    background-color: rgb(255, 240, 225);

  }
  
  .menu {
    display: flex; /*serve para centralizar os elementos*/
    background-color: rgb(205, 122, 152);
    width: 100%; /*Esse aqui serve para ocupar toda a largura da minha tela*/
    height: 150px; /*Serve para a altura*/
    justify-content: space-around;/* Alinha os itens horizontalmente com espaço entre eles */
    align-items: center; /* Alinha os itens verticalmente ao centro */
  }
  
  h2{
    font-family: "Young Serif", serif;;
    color: #654133;
  }
  h3{
    font-family: "Cormorant Garamond", serif;
    color: rgb(101, 65, 51);
    padding-left: 20px;
  }
  h4{
    font-family: "Cormorant Garamond", serif;
    color: white;
  }
  .busca input {
    width: 500px; 
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-bottom: 15px;
    background-image: url(./Imagem/Lupa.png);
    background-size: 18px;
    background-position: right;
    background-repeat: no-repeat;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(255, 240, 225);
    margin: 20px;
    font-size: 18px;
  }
  
  .banner img {
    width: 100%;
    height: 500px;
    display: block;
  }
  
  .produtos {
    color: rgb(205, 122, 152);
    text-align: center;
    margin: 25px;
    font-size: 20px;
  }
  
  .card {
    display: flex;
    background-color: rgb(205, 122, 152);
    width: 250px;
    height: 380px;
    padding: 9px;
    border-radius: 10px;
    color: rgb(255, 240, 225);
    flex-direction: column;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .card:hover{
    padding: 4px;
    padding-bottom: 9px ;
    transition: 0.3s;
  }
  
  .card img {
    width: 100%;
    height: 300px;
    border-radius: 3px;
    object-fit: cover;
  }
  
  #secao {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 15px;
  }

  
  footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(205, 122, 152);
    width: 100%;
    height: 150px;
    font-size: 20px;
  }
  
  .direitos {
    color: rgb(255, 240, 225);
    margin: 25px;
    font-size: 13px;
  }

  footer img{
    width: 25px;
    object-fit: cover;

  }